@keyframes heart-pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.heart-animation {
  position: fixed;
  top: 20%;
  left: 0;
  opacity: 0;
  animation: heart-pop 0.5s ease-out;
  pointer-events: none;
  display: flex;
  justify-content: center;
  width: 100%;
}
